<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

    <head>
        <title>Courier Logistics</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="imagetoolbar" content="no" />
        <meta http-equiv="content-language" content="en" />
        <meta name="geo.position" content="54.692041;25.288811" />
        <meta name="language" content="en" />
        <link href="{{=URL('static','css1/site.css')}}" rel="stylesheet">
        <!--[if lte IE 6]>
	<script type="text/javascript" src="/js/pngFix.js"></script>
	<![endif]-->
    </head>

    <body>


        <img src="/img/osvaldas_valutis_logo.gif" id="logo" />

        <div id="content">
            <div id="content-inner-1">
                <div id="content-inner-2">

                    <a href="/" id="close" title="close" style="display: none;">close</a>


                    <div id="content-about">

                        <div class="wrap">
                            <div class="right">
                                <div class="contact-info">
                                    Shashank Juyal
                                    <dl>
                                        <dt>Email</dt>
                                        <dd><a href="mailto:shashank.juyal@students.iiit.ac.in">shashank.juyal@students.iiit.ac.in</a></dd>
                                        <dt>Phone</dt>
                                        <dd><a href="callto://+917731045920">+91 7731045920</a></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="wrap">
                            <div class="right">
                                <div class="contact-info">
                                    Kulvinder Bisla
                                    <dl>
                                        <dt>Email</dt>
                                        <dd><a href="mailto:kulvinder.bisla@students.iiit.ac.in">kulvinder.bisla@students.iiit.ac.in</a></dd>
                                        <dt>Phone</dt>
                                        <dd><a href="callto://+917731046320">+91 7731046320</a></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div id="content-work">

                        <div class="flyer select-category" title="select list category..">..</div><br><br>
                       
                        <br class="cleaner" />

                        <div class="wrap more-box" id="more-2-box" style="padding-top: 0;">
                            <!-- web -->
                            <ul class="work-list" id="work-1-list">
                                <li id="item-49" class="selected"><a href="/">What can I do?</a></li>
                                <li id="item-48"><a href="/">How can I do?</a></li>
                                
                            </ul>
                           
                        </div>
                        <p class="no-indent"><a href="//" class="more-link" id="more-2"><span class="more" style="display: inline;">show <i>works</i> list &darr;</span><span class="less" style="display: none;">hide <i>works</i> list &uarr;</span></a></p>

                        <div class="wrap" style="padding: 35px 0 0;">

                            <div class="flyer choose-from-list" title="...choose from the list or simply navigate">..</div>
                            <a href="#" class="button-way" id="work-next" title="next">..</a>
<!--
                            <div style="float: right; padding: 5px 40px;"><small><b id="work-current">1</b> work of <span id="works-count">..</span></small></div>
-->
                            <a href="#" class="button-way" id="work-prev" title="previous">..</a>

                            <br class="cleaner" />

                            <!-- web -->
                            <div class="item-box" id="item-49-box" style="display: block; background-image: url('/incoming/web/avalonba.gif');">
                                <h3>Whats</h3>
                                <p>Courier Logistics is a way to enable a layman to understand how stuff works inside their courier company. We persent the standard way to how your shipping company operates on the inside. 
<!--
                                <p class="no-indent">URL &mdash; <a href="http://www.avalonba.com" target="_blank">www.avalonba.com</a></p>
-->
                                <p class="no-indent grey">2013, November</p>
                            </div>
                            <div class="item-box" id="item-48-box" style="background-image: url('/incoming/web/rallynews.gif');">
                                <h3>Hows</h3>
                                <p class="grey"> Internal Management of the product flow is done as follows:</p>
                                
                                <br />
                                <div class="flyer my-role" title="my role">..</div>
                                <ol type="i">
                                    <li>Manager hierarchy levels are maintained</li><br/><hr>
                                    <li>Products are dispatched from source to destination according to predefined hierarchy</li><br/><hr>
                                    <li>To which location the product has to be dispatched are selected automatically</li><br/><hr>
                                    
                                </ol>
                                <br />
                                <p class="no-indent grey">2013, November</p>
                            </div>                 
                            
                        </div>

                    </div>


                </div>
            </div>
        </div>

        <div id="main">
            <div id="main-inner">

                <ul id="nav">
                    <li><a href="#" id="about" title="about me, contact information">about</a></li>
                    <li><a href="#" id="work" title="Help">about</a></li>
                    <br></br><br></br><a style="font-size:30px;left:57px;position:relative;text-decoration:none" href="/AC/default/user/login?_next=/AC/default/home" title="Login">Start</a>
                </ul>

                <div class="flyer for-sale" title="Click Below">..</div>
                <div class="bunny" title="zuuuikis!"></div>


            </div>
        </div>
	<script src="{{=URL('static','js1/jquery.js')}}"></script>
	<script src="{{=URL('static','js1/jquery.tools.js')}}"></script>
    </body>

	
</html>
