{{extend 'layout.html'}}
<h3>
    Products to be Received:
</h3>
<script type="text/javascript">
	$(function() {		
		$("#tablesorter-demo").tablesorter({sortList:[[0,0],[2,1]], widgets: ['zebra']});
		$("#options").tablesorter({sortList: [[0,0]], headers: { 3:{sorter: false}, 4:{sorter: false}}});
	});	
	</script>
<table id="tablesorter-demo" class="tablesorter" border="0" cellpadding="0" cellspacing="3" >
    <thead>
    <tr>
        <th><strong>Product Id</strong></th>
		<th><strong>Product Name</strong></th>
		<th><strong>Receiver Name</strong></th>
		<th><strong>Source</strong></th>
		<th><strong>Destination</strong></th>
</tr>
    </thead>
    <tbody style="position:relative;top:50px">{{var=0}}
{{for prod in prods:}}
  <tr>
      <td><strong><a href="confirm_receive?prodid={{=prod.id}}">{{=prod.product_id}}</a></strong></td>
		<td>{{=prod.product_name}}</td>
		<td>{{=prod.receiver_name}}</td>
		<td>{{=prod.source_place}}</td>
		<td>{{=prod.destination_place}}</td>
	</tr>
        {{var=1}}
{{pass}}
        {{if var==0:}}<tr><td></td><td></td><td></td><td></td><td></td></tr>{{pass}}
    </tbody>
</table>
