
html, body
{
    height: 100%;
}

body
{
    font: normal 16px/normal tahoma, arial, sans-serif;
    color: #999;
    background: #000 url('../img/bg.gif') repeat 0 0;
    padding: 0;
    margin: 0;
}

#main
{
    width: 100%;
    height: 100%;
    
    position: relative;
}
#main-inner
{
    width: 354px;
    height: 404px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -190px;
}
